body{background: radial-gradient(rgb(0, 234, 255),rgb(191, 255, 0));}
h2{color: beige; font-family: cursive;}
h3{color: azure; font-family:fantasy;}
button{background:radial-gradient(rgb(0, 255, 106),rgb(255, 213, 0)); border-radius: 8112738127983781273px; font-family: monospace;}
/*https://teachablemachine.withgoogle.com/models/o6_RqOhNc/*/